body {
    background-color: red;
}

.contenedorNav{
    margin-left: 19%;
    border: 2px solid #5b5b62;
    border-radius: 10px;
    background-color: rgba(248, 105, 3, 0.559);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    width: 1200px;
}
.unir{
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.elegir{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    justify-content: space-around;
}

.recarga{
   
    font-size: 20px;
    letter-spacing: 0.4px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #5b5b62;
    font-weight: 400;
}

.Letras{
    
    font-size: 20px;
    letter-spacing: 0.4px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #5b5b62;
    font-weight: 400;
}

.creados{
    
    font-size: 20px;
    letter-spacing: 0.4px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #5b5b62;
    font-weight: 400;
}

.fuerza{
    font-size: 20px;
    letter-spacing: 0.4px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #5b5b62;
    font-weight: 400;
}
.tipos{
    font-size: 20px;
    letter-spacing: 0.4px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #5b5b62;
    font-weight: 400;
}

.crear{
    font-size: 20px;
    letter-spacing: 0.4px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #5b5b62;
    font-weight: 400;
}

.buttonPaginado{
    
    font-size: 20px;
    letter-spacing: 0.4px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #5b5b62;
    font-weight: 400;
    width: 40px
}
.navPaginado{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.unir{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}
.nav{
    display: flex;
    flex-direction: row;
    
}

.boton2{
    font-size: 20px;
    letter-spacing: 0.4px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #5b5b62;
    font-weight: 400;
}

.input{
    font-size: 20px;
    letter-spacing: 0.4px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #5b5b62;
    font-weight: 400;
}