.grid-container{
    display: grid;  
    margin: auto;
  }
  
  .imgLanding{
    width: 100%;
  }
  
  .imgLanding:nth-child(1){
    grid-area: 1 / 1;
  }
  
  .imgLanding:nth-child(2){
    width: 1550px;
    height:100px;
    grid-area: 1 / 1;
    margin-top: 50px;
    margin-left: 120px;
  }

.botonLanding{
    position: absolute;
    margin-top: 200px;
    --bg: #bad012;
     margin-left: -55px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #3d66ee;
    background-color: var(--bg);
    color: black;
    font-weight: bolder;
    padding: 20px 40px;
    cursor: pointer;
}